.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to bottom, black, #1a1a1a);
}

.hero h1 {
    font-size: 60px;
    color: gold;
    text-shadow: 0 0 20px gold;
}

.grid {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.card {
    background: #1c1c1c;
    padding: 25px;
    width: 250px;
    border-radius: 20px;
    transition: 0.4s;
    box-shadow: 0 0 15px rgba(255,215,0,0.2);
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 30px gold;
}